@model IEnumerable<FilmWebApp_med_MVC.Models.Film_Nomineringer>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instruktør)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Årstal)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Image)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instruktør)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Årstal)
        </td>
       
        <td>           
            @Html.ActionLink("Details", "Details", new { id=item.Film_ID })           
        </td>
    </tr>
}

</table>
